<!DOCTYPE html>
<html>
    <head>
        <style>
            body {
                font-family: "Courier New",monospace;
            }

            table {
                border-collapse: collapse;
                width: 100%;
            }

            td, th {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
            }

            tr:nth-child(even) {
                background-color: #dddddd;
            }
        </style>
    </head>
    <body>
        <h1 align="center">Таблица агентов</h1>
        <table>
            <tr>
                <th>Идентификатор</th>
                <th>Имя компьютера</th>
                <th>IP адрес</th>
                <th>Обновлен</th>
            </tr>
            % for agent in agents:
            <tr>
                <td><a href="/agent/{{agent.id_hash}}">{{agent.id_hash}}</a></td>
                <td>{{agent.node_name}}</td>
                <td>{{agent.ip_address}}</td>
                <td>{{agent.upd_time}}</td>
            </tr>
            % end
        </table>
    </body>
</html>
